/*========== Reset ==========*/
* { 
    margin: 0;
	padding: 0;
    text-decoration:none;
}


body {
    background-color:rgba(95, 26, 0, 0.87);
    font-family: sans-serif;
    overflow: hidden;
}


.ui {
    position:absolute;
    z-index: 2;
    opacity:0.5;
}


#settingBtn {
    left:76vw;
    top:85vh;
}


#overlay{
	opacity : 0;
	z-index : 5;
	display : none;
	width : 100vw;
	height : 100vh;
	position : fixed;
	top : 0vh;
	left : 0vw;
}

#border {
	position: absolute;
	top: 0;
	height: 100vh;
	width : 100vw;
}

#logo {
	position : fixed;
	z-index : 5;
	width : 100vw;
	top: -5vh;
}


/*=======對話框=======*/
.frame{
	position : fixed;
	z-index : 3;
	width : 95vw;
	height : 25vh;
	bottom : 3vh;
	left : 2.5vw;
	font-size : 1.2em;
	display : none;
}

#typed {
	position: absolute;
	top: 2vh;
	left : 4vw;
	width : 90vw;
	z-index : 4;
	font-size: 1.5em;
}


/*=======NPC=======*/
.npc{
    position: absolute;
	z-index : 3;
    height: 40vh;
    left: 30vw;
    top: 30vh;
/*    display: none;*/
}


#ghost {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes glow {
    0% {
         opacity: 0.5;        
    }
    100% {
         opacity: 0.2;
    }
}


/*====測試用====*/
.testClass {
    font-size:1.5em;
    color:rgba(17, 201, 24, 0.67);
}


#demo {
    font-size: 1em;
}